@import url('https://fonts.googleapis.com/css2?family=Mukta&family=Poppins&display=swap');

:root {
    --main-color: rgb(232, 232, 232);
    --cell-size: 100px;
    --symbol-size: calc(var(--cell-size) * 0.8); 
}

*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    background-color: var(--main-color);
}

.main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

/* Turn button section */

.turnBtns {
    width: 100%;
    height: var(--turn-Container-Size);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 10%;
    gap: 40px;
    font-family: 'Poppins', sans-seri
}

.turnBtns button {
    width: 120px;
    height: 60px;
    cursor: pointer;
    border: 0px solid black;
    border-radius: 10px;
    background-color: white;
    box-shadow: -2px -2px 4px 1px black;
    font-size: 1.2rem;
    transition: 0.3s;
}

.turnBtns button:active {
    translate: -2px -2px;
    box-shadow: none;
}

/* board and symbols */

.board {
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, auto);
}

.cell {
    width: var(--cell-size);
    height: var(--cell-size);
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
    border-top: none;
}

.cell:nth-child(3n + 1) {
    border-left: none;
}

.cell:nth-child(3n + 3) {
    border-right: none;
}

.cell:nth-child(1n + 7) {
    border-bottom: none;
}

.cell.x,
.cell.o {
    cursor: not-allowed;
}

.cell.x::before,
.cell.x::after,
.cell.o::before {
    background-color: black;
}

.board.x .cell:not(.x):not(.o):hover::before,
.board.x .cell:not(.x):not(.o):hover::after,
.board.o  .cell:not(.x):not(.o):hover::before {
    background-color: lightgray;
}

.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.o):hover:before,
.board.x .cell:not(.x):not(.o):hover::after {
    content: "";
    width: calc(var(--symbol-size) * .15);
    height: var(--symbol-size);
    position: absolute;
    border-radius: 5px;
}

.cell.x::before,
.board.x .cell:not(.x):not(.o):hover::before {
    rotate: 45deg;
}

.cell.x::after,
.board.x .cell:not(.x):not(.o):hover::after {
    rotate: -45deg;
}

.cell.o::before,
.cell.o::after,
.board.o  .cell:not(.x):not(.o):hover::before,
.board.o .cell:not(.x):not(.o):hover::after{
    content: "";
    position: absolute;
    border-radius: 50%;
}

.cell.o::before,
.board.o  .cell:not(.x):not(.o):hover::before {
    width: var(--symbol-size);
    height: var(--symbol-size);
}

.cell.o::after,
.board.o .cell:not(.x):not(.o):hover::after {
    width: calc(var(--symbol-size) * 0.7);
    height: calc(var(--symbol-size) * 0.7);
    background-color: var(--main-color);
}

/* win section overlay */

.win-section {
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    font-size: 4rem;
}

.win-section button {
    width: 180px;
    height: 75px;
    font-size: 3rem;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    font-family: 'Poppins', sans-serif;
}

.win-text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

.win-section.active {
    display: flex;
    gap: 20px;
}

/* phone landscpae */
@media only screen and (min-width: 600px) {
    :root {
        --cell-size: 70px;
    }

    .turnBtns button {
        width: 110px;
        height: 50px;
    }

    .board {
        align-content:flex-end;
        padding-bottom: 30px;
    }
}

/* tablet portrait */
@media only screen and (min-height: 1000px) {
    :root {
        --cell-size: 140px;
    }

    .turnBtns button {
        width: 120px;
        height: 60px;
    }

    .board {
        align-content:center;
    }

    .win-section {
        font-size: 5rem;
    }

    .win-section button {
        width: 240px;
        height: 80px;
        font-size: 3.5rem;
    }

    .win-section.active {
        gap: 50px;
    }
}

/* tablet landsacpe */
@media only screen and (min-width: 1000px) {
    :root {
        --cell-size: 105px;
    }

    .turnBtns button {
        width: 120px;
        height: 60px;
    }

    .board {
        align-content:center;
    }
}

/* desktop portrait */
@media only screen and (min-height: 1600px) {
    .turnBtns {
        top: 20%;
        gap: 80px;
    }

    .win-section {
        font-size: 5rem;
    }

    .win-section button {
        width: 240px;
        height: 80px;
        font-size: 3.5rem;
    }

    .win-section.active {
        gap: 50px;
    }
}

/* tablet landsacpe */
@media only screen and (min-width: 1600px) {
    :root {
        --cell-size: 170px;
    }

    .turnBtns button {
        width: 150px;
        height: 80px;
        font-size: 1.4rem;
    }

    .win-section {
        font-size: 5rem;
    }

    .win-section button {
        width: 240px;
        height: 80px;
        font-size: 3.5rem;
    }

    .win-section.active {
        gap: 50px;
    }
}